<% provide(:title, "Home") %> 
<div>
  Follow your interests.
  Hear what people are talking about.
  Join the conversation.
</div>

<div>
  <h3>See what's happening in the world right now</h3>
  <p>Join Twitter today.</p>
</div>

<%= render 'home_footer' %>
